<div class="yv_side_drawer_wrapper upsell-tab-height-{{ settings.upsell_tab_height }}" aria-live="polite" tabindex="0" data-side-drawer> 
  <div class="yv_side_drawer_body" >
    <div class="yv_side_drawer_title">
      <button title="Close" class="yv_side_drawer_close">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40">
          <path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path>
        </svg>
      </button>
      <h6 data-drawer-title>Drawer Title</h6>
    </div>
    <div class="yv-side-drawer-container yv_cart-poroduct-container" data-drawer-body>
    </div>
  </div>
</div>
<div class="product-video-popup" data-reels-popup>
  <div class="product-video-popup-card">
    <div class="product-video-popup-inner">
      <span class="product-video-popup-close" onclick="reelClose(event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2386 185.428C12.0316 180.221 12.0316 171.778 17.2386 166.572L166.572 17.2386C171.778 12.0316 180.221 12.0316 185.428 17.2386C190.636 22.4456 190.636 30.8878 185.428 36.0948L36.0948 185.428C30.8878 190.636 22.4456 190.636 17.2386 185.428Z" fill="currentColor"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2386 17.2386C22.4456 12.0316 30.8878 12.0316 36.0948 17.2386L185.428 166.572C190.636 171.778 190.636 180.221 185.428 185.428C180.221 190.636 171.778 190.636 166.572 185.428L17.2386 36.0948C12.0316 30.8878 12.0316 22.4456 17.2386 17.2386Z" fill="currentColor"></path>
        </svg>
      </span>
      <div class="product-video-popup-content" data-reel-content>
        <div class="image-wrapper">          
        </div>
      </div>
    </div>
  </div>
</div>