{% if closest.product.type != blank %}
  <div class="yv-specifications-title">{{ 'Type' }}</div>    
  <div class="yv-specifications-content">{{ closest.product.type }}</div>
{% endif %}
{% schema %}
{
    "name": "t:sections.product-comparison-grid.blocks.type",
    "tag": "div",
    "class": "yv-specifications-info",
    "settings": [
        ],
    "presets": [
        {
            "name": "t:sections.product-comparison-grid.blocks.type"
        }
    ]
}
{% endschema %}