{% if closest.product.description != blank %}
    <div class="yv-specifications-title">{{ 'Description' }}</div>
    <div class="yv-specifications-content">{{ closest.product.description }}</div> 
{% endif %}
{% schema %}
{
    "name": "t:sections.before-after.settings.description.label",
    "class": "yv-specifications-info",
    "tag": "div",
    "settings": [
    ],
    "presets": [
      {
        "name": "t:sections.before-after.settings.description.label"
      }
    ]
}
{% endschema %}